.palette {
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 10;
}
@media only screen and (max-width: 760px) {
  .palette {
    top: 6px;
  }
}
body[data-orientation=landscape] .palette {
  top: 0;
  bottom: 0;
  width: 0;
  height: auto;
  left: 11px;
  right: auto;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.brush {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 6px;
  border: 0 solid #fff;
  border-radius: 18px;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.13s cubic-bezier(0.37, 0, 0.11, 1);
  transition: all 0.13s cubic-bezier(0.37, 0, 0.11, 1);
}
.brush:hover {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}
.brush:hover:before {
  content: '\00a0';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.3);
}
.brush.is-active {
  border-width: 2px;
  -webkit-transform: scale(1);
  transform: scale(1);
}
