.layer--help,
.layer--gallery {
  top: -100%;
  overflow: scroll;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: transform 0.5s cubic-bezier(0.37, 0, 0.11, 1), -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
}
body[data-status=help] .layer--help {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.layer--help__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  margin-top: -250px;
  margin-left: -300px;
}
@media only screen and (max-width: 760px) {
  .layer--help__container {
    position: static;
    padding: 20px 10px;
    margin: 0 auto;
  }
}
.layer--help__container h2,
.layer--help__container h3 {
  text-align: center;
  margin-bottom: 20px;
}
.layer--help__container h2:before,
.layer--help__container h2:after {
  content: " ---------- ";
  letter-spacing: 0.2em;
}
.layer--help__container p {
  margin-bottom: 20px;
}
@media only screen and (max-width: 760px) {
  .layer--help__shortcut {
    display: none;
  }
}
.layer--help__shortcut--left {
  float: left;
  width: 35%;
  margin-left: 15%;
}
.layer--help__shortcut--right {
  float: left;
  width: 40%;
}
.layer--help__credit {
  clear: both;
  text-align: right;
  font-size: 14px;
}
.layer--paused {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease, visibility 0s linear 0.5s;
  transition: opacity 0.2s ease, visibility 0s linear 0.5s;
}
body[data-status=paused] .layer--paused {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: opacity 0.2s ease, visibility 0s linear 0s;
  transition: opacity 0.2s ease, visibility 0s linear 0s;
}
.layer--paused .layer__container {
  overflow: hidden;
}
.layer--paused__message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 30px;
  margin-left: -100px;
  margin-top: -15px;
  text-align: center;
}
.layer--share {
  background-color: transparent;
  overflow: hidden;
  visibility: hidden;
}
body[data-status=share] .layer--share {
  visibility: visible;
}
.share-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a2f33;
  -webkit-transition: all 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: all 0.5s cubic-bezier(0.37, 0, 0.11, 1);
}
.share-frame--top {
  bottom: 100%;
}
.share-frame--bottom {
  top: 100%;
}
.share-frame--left {
  right: 100%;
}
.share-frame--right {
  left: 100%;
}
.layer--share__loading {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 140px 0 0 -5px;
}
.layer--share[status=loading] .layer--share__loading {
  visibility: visible;
}
