.layer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(42,47,51,0.8);
  z-index: 20;
}
.layer--help,
.layer--gallery {
  top: -100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: transform 0.5s cubic-bezier(0.37, 0, 0.11, 1), -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
}
body[data-status=gallery] .layer--gallery {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.gallery__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.gallery-item {
  position: relative;
  width: 320px;
  margin: 10px;
  cursor: pointer;
}
.gallery-item:after {
  content: "\00a0";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.gallery-item:hover:after {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
@media only screen and (max-width: 760px) {
  .gallery-item {
    width: 260px;
    margin: 6px;
  }
}
.gallery-item__id {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10;
}
.gallery-item__thumb {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}
body[data-status=help] .layer--help {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.help__container {
  width: 600px;
  padding: 20px;
  max-width: 100%;
}
.help__container h2,
.help__container h3 {
  text-align: center;
  margin-bottom: 20px;
}
.help__container h2:before,
.help__container h2:after {
  content: " ---------- ";
  letter-spacing: 0.2em;
}
.help__container p {
  margin-bottom: 20px;
}
@media only screen and (max-width: 760px) {
  .help__shortcut {
    display: none;
  }
}
.help__shortcut-list {
  width: 320px;
  margin: 0 auto 20px;
}
@media only screen and (max-width: 760px) {
  .help__shortcut-list {
    display: none;
  }
}
.help__credit {
  clear: both;
  text-align: right;
  font-size: 14px;
}
.layer--paused {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease, visibility 0s linear 0.5s;
  transition: opacity 0.2s ease, visibility 0s linear 0.5s;
}
body[data-status=paused] .layer--paused {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: opacity 0.2s ease, visibility 0s linear 0s;
  transition: opacity 0.2s ease, visibility 0s linear 0s;
}
.paused__message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 30px;
  margin-left: -100px;
  margin-top: -15px;
  text-align: center;
}
.layer--share {
  background-color: transparent;
  overflow: hidden;
  visibility: hidden;
}
body[data-status=share] .layer--share {
  visibility: visible;
}
