.menu {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 15;
}
body[data-status=menu] .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (max-width: 760px) {
  .menu {
    width: 90px;
    right: 0;
    background: #f00;
    height: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.37, 0, 0.11, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.37, 0, 0.11, 1);
    transition: transform 0.3s cubic-bezier(0.37, 0, 0.11, 1);
    transition: transform 0.3s cubic-bezier(0.37, 0, 0.11, 1), -webkit-transform 0.3s cubic-bezier(0.37, 0, 0.11, 1);
  }
}
.menu__btn {
  visibility: hidden;
  position: absolute;
  display: block;
  top: 5px;
  left: -53px;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent !important;
  cursor: pointer;
}
@media only screen and (max-width: 760px) {
  .menu__btn {
    visibility: visible;
  }
}
.menu__btn .l {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 4px;
  margin-top: -2px;
  margin-left: -16px;
  border-radius: 2px;
  background-color: #d1d8db;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
  transition: transform 0.5s cubic-bezier(0.37, 0, 0.11, 1), -webkit-transform 0.5s cubic-bezier(0.37, 0, 0.11, 1);
}
.menu__btn .l1 {
  -webkit-transform: translate(0, -9px);
  transform: translate(0, -9px);
}
body[data-status=menu] .menu__btn .l1 {
  -webkit-transform: translate(0, 0) rotate(-135deg);
  transform: translate(0, 0) rotate(-135deg);
}
body[data-status=menu] .menu__btn .l2 {
  -webkit-transform: scale(0.4, 0);
  transform: scale(0.4, 0);
}
.menu__btn .l3 {
  -webkit-transform: translate(0, 9px);
  transform: translate(0, 9px);
}
body[data-status=menu] .menu__btn .l3 {
  -webkit-transform: translate(0, 0) rotate(135deg);
  transform: translate(0, 0) rotate(135deg);
}
.menu__lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media only screen and (max-width: 760px) {
  .menu__lists {
    width: 90px;
    height: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #2a2f33;
  }
}
.menu__lists li {
  margin-left: 13px;
  line-height: 70px;
  font-size: 14px;
}
@media only screen and (max-width: 760px) {
  .menu__lists li {
    margin: 0;
    width: 90px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
}
.menu__lists .menu__help {
  padding-left: 7px;
  padding-right: 7px;
}
.layer--menu-darken {
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease, visibility 0s linear 0.5s;
  transition: opacity 0.2s ease, visibility 0s linear 0.5s;
}
body[data-status=menu] .layer--menu-darken {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: opacity 0.2s ease, visibility 0s linear 0s;
  transition: opacity 0.2s ease, visibility 0s linear 0s;
}
