.tools {
  position: absolute;
  top: 11px;
  left: 50%;
  width: 240px;
  height: 0;
  margin: 0 0 0 -120px;
  z-index: 10;
}
@media only screen and (max-width: 760px) {
  .tools {
    top: 6px;
  }
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .tools {
    top: 50%;
    left: 11px;
    width: 0;
    height: 240px;
    margin: -120px 0 0 0;
  }
}
.tools__btn {
  position: relative;
  float: left;
  width: 36px;
  height: 36px;
  margin: 6px;
  border: 0 solid #fff;
  border-radius: 18px;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.13s cubic-bezier(0.37, 0, 0.11, 1);
  transition: all 0.13s cubic-bezier(0.37, 0, 0.11, 1);
}
.tools__btn:hover {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}
.tools__btn:hover:before {
  content: '\00a0';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.3);
}
.tools__btn.is-active {
  border-width: 2px;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.tools__btn--fuse {
  background-color: #d5d7bf;
}
.tools__btn--bomb {
  background-color: #dad95c;
}
.tools__btn--fire {
  background-color: #f52661;
}
.tools__btn--wall {
  background-color: #272e38;
}
.tools__btn--ersr {
  background-color: #61686e;
}
