@import 'nib'

//--------------------------------------------------
mobile()
	// @media only screen and (max-width: 960px)
	@media only screen and (max-width: 760px)
		{block}
		
landscape()
	body[data-orientation=landscape] &
		{block}
		
portrait()
	body[data-orientation=portrait] &
		{block}

status(s)
	body[data-status={s}] &
		{block}

// variables
custom-bezier = cubic-bezier(0.37, 0, 0.11, 1)
// c-text = #d1d8db

c-text = #dbdbdb
c-black = #222