

// .layer--gallery__loading 
// 	visibility: hidden
// 	margin: 0 auto 80px
// 	line-height: 11px
// 	text-align: center

// 	.layer--gallery[data-status=nomore] &
// 		visibility: visible
// 		background: none

// 	.layer--gallery[data-status=nomore] &:before 
// 		content: '- - -'

// 	.layer--gallery[data-status=loading] &
// 		visibility: visible