@import "./_common"

.layer--help,
.layer--gallery 
	top: -100%
	overflow scroll
	transition: transform 0.5s custom-bezier


.layer--help
	+status('help')
		transform: translate(0, 100%)

.layer--help__container
	position absolute
	top 50%
	left 50%
	width 600px
	height 500px
	max-width 100%
	max-height 100%
	margin-top -250px
	margin-left -300px
	
	+mobile()
		position: static
		padding: 20px 10px
		margin: 0 auto


.layer--help__container h2,
.layer--help__container h3 
	text-align: center
	margin-bottom: 20px

.layer--help__container h2:before,
.layer--help__container h2:after 
	content: " ---------- "
	letter-spacing: .2em

.layer--help__container p 
	margin-bottom: 20px

.layer--help__shortcut
	+mobile()
		display none

.layer--help__shortcut--left 
	float: left
	width: 35%
	margin-left: 15%

.layer--help__shortcut--right 
	float: left
	width: 40%

.layer--help__credit 
	clear: both
	text-align: right
	font-size: 14px