@import "./_common"

//--------------------------------------------------

.layer 
	position: absolute
	top: 0%
	left: 0%
	width: 100%
	height: 100%
	background-color: rgba(34, 34, 34, 0.8)
	z-index: 20
	
.layer--help,
.layer--gallery 
	top: -100%
	overflow scroll
	overflow-x hidden
	overflow-y scroll
	overflow-scrolling touch
	-webkit-overflow-scrolling touch
	transition: transform 0.5s custom-bezier


//--------------------------------------------------
// home

.layer--home
	transition: transform 0.5s custom-bezier
	top: -100%
	
	+status('home')
		transform translateY(100%)
	
.home__type-list
	position absolute
	width 100%
	height 100%
	display flex
	flex-direction column
	
.home__type-item
	flex-grow 1
	display flex
	flex-direction column
	justify-content center
	position relative
	border-bottom 2px solid #333
	cursor pointer
	
	&:last-child
		border 0
	
	&:before
		content: '\00a0'
		display: block
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
	
	&:hover:before
		background: rgba(255, 255, 255, 0.1)

.home__type-label
	text-align center
	height 24px
	line-height 24px
	margin-bottom 10px
	
	+mobile()
		margin 0

.home__type-palette
	width 100%
	height 36px
	display flex
	justify-content center

.home__type-brush
	width 36px
	height 36px
	border-radius 50%
	margin 6px




//--------------------------------------------------
// gallery

.layer--gallery
	+status('gallery')
		transform translateY(100%)

.gallery__list
	margin-top 40px
	display flex
	flex-wrap wrap
	justify-content center

.gallery-item 
	position relative
	width 320px
	margin 10px
	cursor pointer
	
	&:after
		content "\00a0"
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 100%
		background-color: rgba(255, 255, 255, 0.2)
		opacity 0
		transition opacity .1s ease

	&:hover:after
		opacity 1
		
	
	+mobile()
		width 260px
		margin 6px


.gallery-item__id
	position absolute
	top 0
	left 10px
	z-index 10

.gallery-item__thumb
	position relative
	width 100%
	height auto
	display block

//--------------------------------------------------
// help


.layer--help
	+status('help')
		transform: translateY(100%)

.help
	display flex
	align-items center
	justify-content center

.help__container
	width 600px
	padding 20px
	max-width 100%

	h2,
	h3 
		text-align: center
		margin-bottom: 20px

	h2
		&:before,
		&:after 
			content: " ---------- "
			letter-spacing: .2em
			
	h3
		margin-top 40px
		
		&:before,
		&:after 
			content: " ** "
			letter-spacing: .2em

	p 
		margin-bottom: 20px
		
		+mobile()
			line-height 1.6
		
	span 
		display inline-block
		border-bottom 2px solid white
		height 26px


.help__shortcut-list
	width 320px
	margin 0 auto 20px

.help__shortcut-list--pc
	display block	
	+mobile()
		display none

.help__shortcut-list--mobile
	display none
	+mobile()
		display block		

.help__credit 
	clear: both
	text-align: right
	font-size: 14px
	

//--------------------------------------------------
// share

.layer--share 
	background-color: transparent
	overflow: hidden
	visibility: hidden

	+status('share')
		visibility: visible