@import "./_common"

//--------------------------------------------------

.layer 
	position: absolute
	top: 0%
	left: 0%
	width: 100%
	height: 100%
	background-color: rgba(42, 47, 51, 0.8)
	z-index: 20
	
.layer--help,
.layer--gallery 
	top: -100%
	overflow scroll
	overflow-scrolling touch
	-webkit-overflow-scrolling touch
	transition: transform 0.5s custom-bezier

//--------------------------------------------------
// gallery

.layer--gallery
	+status('gallery')
		transform translateY(100%)

.gallery__list
	margin-top 40px
	display flex
	flex-wrap wrap
	justify-content center

.gallery-item 
	position relative
	width 320px
	margin 10px
	cursor pointer
	
	&:after
		content "\00a0"
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 100%
		background-color: rgba(255, 255, 255, 0.2)
		opacity 0
		transition opacity .1s ease

	&:hover:after
		opacity 1
		
	
	+mobile()
		width 260px
		margin 6px


.gallery-item__id
	position absolute
	top 0
	left 10px
	z-index 10

.gallery-item__thumb
	position relative
	width 100%
	height auto
	display block


//--------------------------------------------------
// help


.layer--help
	+status('help')
		transform: translateY(100%)

.help
	display flex
	align-items center
	justify-content center

.help__container
	width 600px
	padding 20px
	max-width 100%


.help__container h2,
.help__container h3 
	text-align: center
	margin-bottom: 20px

.help__container h2:before,
.help__container h2:after 
	content: " ---------- "
	letter-spacing: .2em

.help__container p 
	margin-bottom: 20px

.help__shortcut
	+mobile()
		display none

.help__shortcut-list
	width 320px
	margin 0 auto 20px
	
	+mobile()
		display none
		

.help__credit 
	clear: both
	text-align: right
	font-size: 14px
	
//--------------------------------------------------
// paused

.layer--paused
	visibility: hidden
	opacity: 0
	transition: opacity 0.2s ease, visibility 0s linear 0.5s

	+status('paused')
		visibility: visible
		opacity: 1
		transition: opacity 0.2s ease, visibility 0s linear 0s


.paused__message 
	position: absolute
	top: 50%
	left: 50%
	width: 200px
	height: 30px
	margin-left: -100px
	margin-top: -15px
	text-align: center
	

//--------------------------------------------------
// share

.layer--share 
	background-color: transparent
	overflow: hidden
	visibility: hidden

	+status('share')
		visibility: visible

// .share-frame 
// 	position: absolute
// 	width: 100%
// 	height: 100%
// 	background-color: #2a2f33
// 	transition: all 0.5s custom-bezier

// .share-frame--top 
// 	bottom: 100%
// .share-frame--bottom 
// 	top: 100%
// .share-frame--left 
// 	right: 100%
// .share-frame--right 
// 	left: 100%