.alert__content.alert--succeed__content
	input.alert__share-url(type="text" value="#{url}")
	.alert__tweet
		a.alert__tweet-link Tweet

.alert__choices
	button.alert__btn.gallery See Others..
	button.alert__btn.resume Resume