.error
	.error__wrapper
		img(src="./img/unsupported.gif")
		h3 Not Supported on Your Browser
		
		p.
			Please visit from your pc<br>
			with a latest browser supporting WebGL.
		
		p.
			created by <a href="http://baku89.com/" target="_blank">baku</a>