include ./jade/_header.php

doctype html
head
	base(href='./')
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='description', content='#{description}')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

	title F u s e

	//- Facebook OGP
	meta(property='og:site_name' content='Fuse')
	meta(property='og:title' content='<?= $title ?>')
	meta(property='og:description' content='WebGL cellular automaton')
	meta(property='og:image' content='<?= $thumb_url ?>')
	meta(property='og:type' content='website')
	meta(property='og:url' content='<?= $url ?>')

	//- Twitter Card
	meta(name='twitter:card' content='photo')
	meta(name='twitter:site' content='_baku89')
	meta(name='twitter:title' content='<?= $title ?>')
	meta(name='twitter:description' content='WebGL cellular automaton')
	meta(name='twitter:image' content='<?= $thumb_url ?>')
	meta(name='twitter:url' content='<?= $url ?>')

	//- CSS
	link(href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
	link(rel="stylesheet" type="text/css" href="style.css")

	include ./jade/_ga.jade

body(data-id='<?= is_null($id) ? "" : $id ?>' data-map='<?= $map_url ?>')

	.page-wrapper

		canvas#canvas

		.loading.canvas--loading

		.palette-wrapper
			//- button.palette-arrow.prev
			.palette
			//- button.palette-arrow.next

		nav.menu
			.menu__btn
				.l.l1
				.l.l2
				.l.l3

			ul.menu__lists
				li
					a.menu__help ?
				li
					a.menu__gallery Gallery
				li
					a.menu__share Share
				li
					a.menu__clear Clear

		.layer.layer--menu-darken

		section.layer.layer--help
			.layer--help__container
				h2 Fuse
				
				p.
					This demo simulates burning fuses and exploding bombs using a method of a sort of cellular automaton(CA). Click and drag to draw a line. Select parettes on top to change brush type(<span class="fuse">fuse</span>, <span class="bomb">bomb</span>, <span class="fire">fire</span>, <span class="wall">wall</span>, <span class="ersr">eraser</span> respectively from left to right). The CA program is mainly written in GLSL.
				
				h3.layer--help__shortcut Shortcuts
				
				p.layer--help__shortcut.layer--help__shortcut--left.
					[1]: <span class="fuse">Fuse</span><br>
					[2]: <span class="bomb">Bomb</span><br>
					[3]: <span class="fire">Fire</span><br>
					[4]: <span class="wall">Wall</span><br>
					[5]: <span class="ersr">Eraser</span>
				
				p.layer--help__shortcut.layer--help__shortcut--right.
					[s]: Share<br>
					[↑]: Increasing brush size<br>
					[↓]: Decreasing brush size<br>
					[space]: Toggle pause
				
				p.layer--help__credit.
					created by <a href="http://baku89.com" target="_blank">baku</a>
			

		section.layer.layer--paused
			.layer--paused__message &gt; Click to Resume &lt;

		section.layer.layer--share

			.is-passthru.share-frame.share-frame--top
			.is-passthru.share-frame.share-frame--right
			.is-passthru.share-frame.share-frame--bottom
			.is-passthru.share-frame.share-frame--left

			.loading.layer--share__loading

		.alert
				
			//- .alert__wrapper.alert__wrapper--complete
			//- 	.alert__content
			//- 		.alert--complete__url-wrapper
			//- 			input.alert--complete__url(type="text" value="")
			//- 		a.alert--complete__tweet Tweet
				
			//- 	.alert__choises
			//- 		button.alert__btn.alert--url__btn--gallery See Others..
			//- 		button.alert__btn.alert--url__btn--resume Resume
			
			//- .alert__wrapper.alert__wrapper--failed
			//- 	.alert__content.alert--failed__content Failed to send data..
			//- 	.alert__choises
			//- 		button.alert__btn.alert--url__btn--resume Resume
					

		section.layer.layer--gallery
				ul.layer--gallery__list.is-passthru
				.loading.layer--gallery__loading

	.unsupported
		img(src="./img/unsupported.gif")
		h3 Not Supported on Your Browser
		
		p.
			Please visit from your pc<br>
			with a latest browser supporting WebGL.
		
		p.unsupported__credit.
			created by <a href="http://baku89.com/" target="_blank">baku</a>
		
	//- JS
	script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js")
	script(type="text/javascript" src="./js/Detector.js")
	script(type="text/javascript" src="./js/main.js")

