@import "./stylus/_common.styl"


global-reset()

//--------------------------------------------------

*, ::after, ::before
	box-sizing: border-box

html, body
	width 100%
	height 100%
	overflow hidden

body
	background-color: #474d52
	color: c-text
	font-family: 'Ubuntu', sans-serif
	font-size: 18px
	line-height: 1.8
	user-select: none
	
	&:after
		display none
		content "pc"
	
		+mobile()
			content "mobile"


button
	border 0
	font-family 'Ubuntu', sans-serif
	outline 0
	cursor pointer

a
	border-bottom 2px dotted c-text
	cursor pointer
	color c-text !important
	text-decoration none !important

	&:hover
		background: rgba(255, 255, 255, 0.5)

p
	text-align: justify

input[type=text]
	border 0
	outline 0
	font-size 14px
	height 35px
	padding 0 5px
	background-color #363c3f
	font-family 'Ubuntu', sans-serif
	line-height 35px
	colo c-text


.is-hidden
	visibilit hidden

.loading 
	widt 43px
	height 11px
	background-image url(../img/loading2.gif)
	background-repeat no-repeat

span.fuse 
	color: #d5d7bf

span.bomb 
	color: #dad95c

span.fire 
	color: #f52661

span.wall 
	color: #516076

span.ersr 
	color: #7B848C

.page-wrapper 
	min-width: 960px
	min-height: 720px

	body[data-status=unsupported] &
		display: none

#canvas 
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto
	width: 100%
	height: 100%
	transform-origin 50% 50%
	transform scaleY(-1.0)

.canvas--loading 
	visibility: hidden
	position: absolute
	top: 50%
	left: 50%
	z-index: 5

body[data-status=loading] .canvas--loading 
	visibility: visible


.layer 
	position: absolute
	top: 0%
	left: 0%
	width: 100%
	height: 100%
	background-color: rgba(42, 47, 51, 0.8)
	z-index: 20

@import "stylus/_brush.styl"
@import "stylus/_menu.styl"

@import "stylus/_help.styl"
	

.layer--pause 
	visibility: hidden
	opacity: 0
	transition: opacity 0.2s ease, visibility 0s linear 0.5s

.layer--pause.is-visible 
	visibility: visible
	opacity: 1
	transition: opacity 0.2s ease, visibility 0s linear 0s

.layer--pause .layer__container 
	overflow: hidden

.layer--pause__message 
	position: absolute
	top: 50%
	left: 50%
	width: 200px
	height: 30px
	margin-left: -100px
	margin-top: -15px
	text-align: center

.layer--share 
	background-color: transparent
	overflow: hidden
	visibility: hidden

.layer--share.is-visible 
	visibility: visible

.share-frame 
	position: absolute
	width: 100%
	height: 100%
	background-color: #2a2f33
	-moz-transition: all 0.5s custom-bezier
	-o-transition: all 0.5s custom-bezier
	-webkit-transition: all 0.5s custom-bezier
	transition: all 0.5s custom-bezier

.share-frame--top 
	bottom: 100%

.share-frame--bottom 
	top: 100%

.share-frame--left 
	right: 100%

.share-frame--right 
	left: 100%

.layer--share__loading 
	visibility: hidden
	position: absolute
	top: 50%
	left: 50%
	margin: 140px 0 0 -5px

.layer--share[status=loading] .layer--share__loading 
	visibility: visible

.alert 
	position: absolute
	top: 50%
	left: 50%
	width: 380px
	height: 0px
	margin: 100px 0 0 -190px
	background-color: #2a2f33
	overflow: hidden
	-moz-transition: height 0.5s custom-bezier
	-o-transition: height 0.5s custom-bezier
	-webkit-transition: height 0.5s custom-bezier
	transition: height 0.5s custom-bezier

	.layer--share[status=complete] &,
	.layer--share[status=failed] & 
		height: 120px

	+mobile()
		width: 300px
		margin: -60px 0 0 -150px
	

.alert__wrapper 
	position: absolute
	display: none
	top: 0
	left: 0
	width: 100%
	height: 100%

.alert__content 
	height: 75px
	border-bottom: 2px solid #474d52

.alert__choises 
	position: relative
	height: 45px
	*zoom: 1

	&:after 
		content: ""
		display: table
		clear: both

.alert__btn 
	display: block
	float: left
	width: 50%
	height: 100%
	background-color: transparent
	font-size: 18px
	color: c-text
	border-right: 2px solid #474d52

	&:last-child 
		border: 0

.layer--share[status=complete] .alert__wrapper--complete 
	display: block

.alert--complete__url-wrapper 
	position: absolute
	top: 20px
	right: 70px
	left: 20px

.alert--complete__url 
	width: 100%

.alert--complete__tweet 
	position: absolute
	top: 22px
	right: 15px
	font-size: 14px

.layer--share[status=failed] .alert__wrapper--failed 
	display: block

.alert__wrapper--failed .alert__content 
	text-align: center
	line-height: 75px

.alert__wrapper--failed .alert__btn 
	width: 100%

.layer--gallery 
	overflow: scroll
	-webkit-overflow-scrolling: touch

.layer--gallery__list 
	width: 960px
	max-width: 100%
	min-height: 100%
	margin: 0 auto
	padding: 80px 0
	*zoom: 1
		
	+mobile()
		padding: 20px 0
		text-align: center

	&:after 
		content: ""
		display: table
		clear: both

	li 
		position: relative
		float: left
		width: 244px
		height: 164px
		border: 2px solid #575e63
		margin: 38px
		cursor: pointer
		transition: border-color 0.2s ease
		
		+mobile()
			display: inline-block
			margin: 23px
			float: none

		&:before 
			content: attr(data-id)
			position: absolute
			bottom: 0
			right: 8px

		&:hover 
			border-color: c-text

	img 
		width: 100%
		height: 100%

.layer--gallery__loading 
	visibility: hidden
	margin: 0 auto 80px
	line-height: 11px
	text-align: center

	.layer--gallery[data-status=nomore] &
		visibility: visible
		background: none

	.layer--gallery[data-status=nomore] &:before 
		content: '- - -'

	.layer--gallery[data-status=loading] &
		visibility: visible

.unsupported 
	display: none
	width: 320px
	margin: 0 auto
	padding-top: 100px

	body[data-status=unsupported] &
		display: block

	img 
		width: 320px
		margin: 0 auto 10px

	h3 
		font-size: 20px
		text-align: center
		margin-bottom: 10px

	p 
		font-size: 14px
		text-align: center
		margin-bottom: 10px
